/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET*/

/* --------------------------------------------------------- */

/* Body */
body {
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-family: 'Hind', sans-serif;
    font-size: 16px; 
    line-height: 1.8; 
    color: black; 
    background-color: white; 
}

/* Nav Bar */ 
header {
    /* background-color: #FFF4F7;  Potential background color*/
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: white;
}

.navbar { 
    overflow: hidden; 
    padding: 20px 40px;
    z-index: 1; 
}

.navbar a { 
    float: left;
    font-size: 1.5em; 
    text-decoration: none; 
    padding-right: 30px;
    color: #000000;
    /* color: #00dba6;  */
    vertical-align: baseline;
}

.navlinks { 
    float: right;
    font-weight: 400;
    vertical-align: baseline;
}

.navlinks a:hover { 
    color: #FF0068;
}

.navlinks a:last-child { 
    padding-right: 0; 
}

#logo { 
    font-weight: 700;
    font-size: 1.5em;
    color: black;
}

#nav-work { 
    font-weight: 700; 
}

/* General */
.container { 
    width: 100%;
    margin: auto;
}

section { 
    padding: 120px auto;
    margin: 120px;
}

img { 
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
}

h2 { 
    font-size: 2em; 
    font-weight: 700;
}

h4 { 
    font-size: 1.5em;
    font-weight: 700;
}

p { 
    font-size: 1.25em;
}

.section-title { 
    vertical-align: center;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00A3FF;
}

#button { 
    padding: 20px; 
    background-color: #FF0068;
    text-decoration: none; 
    color: white;
    font-weight: 700;
    border-radius: 40px;
    align-content: center;
}

/* Hero */

#hero { 
    padding: 120px 40px;
}


/* Homepage Project Section */

.project { 
    width: 100%;
}

#project-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-left: 4em;
    align-items: center;
}

.project-info { 
    width: 100%;
    padding: 100px 50px 100px 50px;
}

.project-title { 
    margin-bottom: 40px;
    text-align: justify;
    justify-content: center;
}

.project-description { 
    margin-bottom: 50px;
}

.project-img {
    float: left;
    margin: 40px;
}

/* About Me Page */

#about-pic { 
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}

#about-button-div { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 120px auto;

}

#about-button { 
    padding: 20px; 
    background-color: #FF0068;
    text-decoration: none; 
    color: white;
    font-weight: 700;
    border-radius: 40px;
    margin: 0;
}


/* Footer */

footer { 
    width: 100%; 
    font-weight: 700;
    background-color: black;
    color: white;
}

div.footer-info { 
    padding: 3em ;

}

footer h4 { 
    margin-bottom: 1em; 
    font-size: 1.5em;
}

footer a { 
    text-decoration: none;
    padding-right: 1em;
    color: #00dba6;
}

footer a:hover { 
    color: #FF0068;
}

.footer-socials { 
    /* font-family: 'Hind', sans-serif;  */
    font-size: 1em;
    font-weight: 400;
}






