/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF CSS RESET*/

/* --------------------------------------------------------- */

/* Body */
body {
    /* font-family: 'Frank Ruhl Libre', serif; */
    font-family: 'Hind', sans-serif;
    font-size: 16px; 
    line-height: 1.8; 
    color: black; 
    background-color: #FFFFFF; 
}

/* Nav Bar */ 
header { 
    background-color: #ffffff; 
    /* background-color: #FFF4F7;  Potential background color*/
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: bisque;
}

.navbar { 
    overflow: hidden; 
    padding: 1em 3em;
    z-index: 1; 
}

.navbar a { 
    float: left;
    font-size: 1.5em; 
    text-decoration: none; 
    padding-right: 30px;
    color: black; 
    vertical-align: baseline;
}

.navlinks { 
    float: right;
    /* font-family: 'Hind', sans-serif; */
    font-weight: 400;
    vertical-align: baseline;
}

.navlinks a:hover { 
    color: #FF0068;
}

.navlinks a:last-child { 
    padding-right: 0; 
}

#logo { 
    font-weight: 700;
    font-size: 1.5em;
}

#nav-work { 
    font-weight: 700; 
}

/* General */
.container { 
    width: 75%;
    margin: auto;
}

section{ 
    margin: 10em;
}

/* Home Page */

#hero { 
 background-color: #FF0068;
 padding: 3em;
}

#hero-text { 
    /* font-family: 'Hind', sans-serif; */
    font-size: 1.5em;
}

.section-title { 
    font-size: 3em; 
    font-weight: 700;
    margin-bottom: 1em;
}

/* .project-section { 
    display: flex; 
    flex-direction: ; 
} */

.project { 
    /* margin: 40px auto 120px auto; */
    width: 100%;
    padding: 3em;
    margin: 3em;
    align-content: center;
}


.project-title { 
    font-weight: 700; 
    font-size: 1.5em;
}

.project-description { 
    /* font-family: 'Hind', sans-serif; */
    float: right;
}

#project-one { 
    background-color: bisque;
}

#project-two { 
    background-color: #FF0068;
}

#project-three { 
    background-color: bisque;
}

#project-four { 
    background-color: #FF0068;
}

/* Work Page */

/* About Me Page */

/* Project 1 Page */

/* Footer */
footer { 
    width: 100%; 
    font-weight: 700;
    background-color: bisque;
}

div.footer-info { 
    padding: 3em ;

}

footer h4 { 
    margin-bottom: 1em; 
    font-size: 1.5em;
}

footer a { 
    text-decoration: none;
    padding-right: 1em;
    color: black;
}

footer a:hover { 
    color: #FF0068;
}

.footer-socials { 
    /* font-family: 'Hind', sans-serif;  */
    font-size: 1em;
    font-weight: 400;
}